/* Styles for scoring table on home page */

.scoring-table {
  width: 100%;
  min-height: 95%;
  /*max-height: 520px;*/
  background: linear-gradient(to bottom,rgba(255,140,20,0.6), rgba(248,249,251,0.6), rgba(78,114,255,0.6));
  border-radius: 6px;
  /*border: 1px solid rgb(206,212,227);*/
  box-shadow: 0px 2px 10px 0px  rgba(0,0,0,0.15);
  margin-bottom: 60px;
}

.scoring-table .scoring-row {
  width: 100%;
  height: calc(100% / 13);
  min-height: 40px;
  max-height: 60px;
  /*background-color: gray;*/
  border-bottom: 1px solid rgb(206,212,227);
  display: flex;
  align-items: center;
  padding: 0;
}

.scoring-table .scoring-row .rank {
  width: 30px;
  height: 100%;
  min-height: 40px;
  /*border-right: 1px solid rgb(206,212,227);*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoring-table .scoring-row .team-name {
  width: calc(100% - 110px);
  height: 100%;
  min-height: 40px;
  border-right: 1px solid rgb(206,212,227);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 85%;
}

.scoring-table .scoring-row a {
  text-decoration: none;
  color: inherit;
}

.scoring-table .scoring-row .team-points {
  width: 80px;
  height: 100%;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90%;
}

.scoring-table .scoring-row a.team-name .team-logo {
  height: 35px;
  margin: 5px;
}

.title-row {
  font-weight: 700;
  background-color: rgba(248,249,251,0.75);
  border-radius: 6px 6px 0 0;
}

.title-row .team-name {
  padding-left: 5px;
}

#last-row {
  border-bottom: none;
}
