
/* Styles for general site content */



.page-title {
  color: $dark-blue;
  //height: 30px;
  width: 100%;
  text-align: left;
  /*color: rgb(248,249,251);*/
  letter-spacing: 2px;
  /*background-color: seagreen;*/
  font-family: industry-inc-base, sans-serif;
}

.page-subtitle {
  color: $gray;
}


.page-title .fa-fire {
  color: $orange;
}

.champs {
  color: $gold;
}

.consolation {
  color: $dark-blue;
}





.championship-game {
  background-color: $gold;
}

.winners {
  background-color: rgba($blue,0.9);
}

.losers {
  background-color: rgba($red,0.9);
}

.cons-matchup {
  background-color: rgba($green,0.9);
}

.final-game {
  background-color: rgba($gray,0.8);
}

.feces-title {
  color: rgba($brown,0.8);
}

.feces-matchup {
  background-color: rgba($brown,0.8);
}

h4 {
  color: $black;
}




.site-btn {
  color: $white;
  background-color: $blue;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  letter-spacing: 2px;
  margin: 0 auto;
}



