* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: poppins, sans-serif;
  color: rgb(0,0,25);
  background-color: rgb(248,249,251);
  /*background: linear-gradient(150deg,rgb(20,110,140), rgb(20,140,110));*/
}
