* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: poppins, sans-serif;
  color: #000019;
  background-color: #f8f9fb;
  display: flex;
  justify-content: center;
  /*background: linear-gradient(150deg,rgb(20,110,140), rgb(20,140,110));*/
}

.site-content {
  width: 100%;
  max-width: 800px;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  padding: 60px 20px 100px;
  /*margin: 60px 0;*/
  background-color: #f8f9fb;
  z-index: 75;
  display: flex;
  flex-direction: column;
}

.alert-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 25, 0.2);
  height: 100%;
  width: 100%;
  z-index: 99;
  display: none;
  justify-content: center;
  align-items: center;
}
.alert-modal-bg .alert-modal {
  width: 300px;
  height: 270px;
  background-color: rgba(248, 249, 251, 0.95);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 25, 0.15);
}
.alert-modal-bg .alert-modal a {
  text-decoration: none;
  color: #f8f9fb;
}
.alert-modal-bg .alert-modal .site-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 25, 0.15);
}

/* Styles for top nav (Main site title & user login icon) */
.nav-top {
  z-index: 90;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgba(248, 249, 251, 0.9);
  /*border-bottom: 1px solid rgb(220,220,230);*/
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 25, 0.15);
  padding: 0 20px;
}
.nav-top a {
  text-decoration: none;
  color: inherit;
}
.nav-top h1 {
  /*padding-left: 15px;*/
  color: #0e218b;
  width: 200px;
  height: 100%;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: industry-inc-base, sans-serif;
}
.nav-top .nav-icon {
  color: #8e91be;
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  align-items: center;
  height: 100%;
  /*width: calc(50% - 85px);*/
  /*min-width: 50px;*/
  padding-top: 2px;
  /*padding-right: 10px;*/
}
.nav-top .nav-icon i {
  font-size: 23.5px;
  margin-left: 5px;
}
.nav-top .nav-icon span {
  font-size: 10px;
  margin-top: 0px;
}
.nav-top .nav-left {
  padding-left: 0;
  height: 100%;
  width: 75px;
}
.nav-top .nav-right {
  display: flex;
  padding-right: 0;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  height: 100%;
  width: 75px;
}

@media (max-width: 375px) {
  .nav-top {
    padding: 0 10px;
  }
  .nav-top h1 {
    font-size: 22px;
  }
}
/* Styles for bottom nav menu */
.nav-bottom {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 80;
  /*background-color:rgba(72,61,139, 0.95);*/
  background-color: rgba(248, 249, 251, 0.9);
  /*border-top: 1px solid rgb(220,220,230);*/
  color: #8e91be;
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 25, 0.15);
}
.nav-bottom a {
  text-decoration: none;
  color: inherit;
}
.nav-bottom a.current {
  background-color: #4e72ff;
  color: rgba(248, 249, 251, 0.75);
}

.nav-bottom .nav-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;
  padding-top: 2px;
}

.nav-bottom .nav-icon {
  font-size: 23.5px;
}

.nav-bottom .nav-icon span {
  font-size: 10px;
  /*color: rgb(0,0,25);*/
  margin-top: 2px;
}

.tourney-week {
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 60px;
  left: 0;
  color: #000019;
  letter-spacing: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: industry-inc-base, sans-serif;
}
.tourney-week .right-arrow a {
  padding-left: 5px;
}
.tourney-week .left-arrow a {
  padding-right: 1px;
}
.tourney-week h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 35px;
  padding-top: 5px;
  background-color: rgba(206, 212, 227, 0.95);
  border-radius: 8px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 25, 0.15);
}

.left-arrow, .right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  padding: 5px;
  text-align: center;
}
.left-arrow a, .right-arrow a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  height: 35px;
  width: 40px;
  background-color: rgba(206, 212, 227, 0.95);
  border-radius: 8px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 25, 0.15);
}
.left-arrow i, .right-arrow i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 30px;
  width: 40px;
}

/* Styles for scoring table on home page */
.scoring-table {
  width: 100%;
  height: calc(45px * 13);
  /*max-height: 520px;*/
  background: linear-gradient(to bottom, rgba(255, 140, 20, 0.6), rgba(248, 249, 251, 0.6), rgba(78, 114, 255, 0.6));
  border-radius: 6px;
  /*border: 1px solid rgb(206,212,227);*/
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 25, 0.15);
  margin-bottom: -30px;
}

.scoring-table .scoring-row {
  width: 100%;
  height: 45px;
  /*background-color: gray;*/
  border-bottom: 1px solid #ced4e3;
  display: flex;
  align-items: center;
  padding: 0;
}
.scoring-table .scoring-row .team-seed {
  font-size: 10px;
  width: 20px;
  height: 20px;
  background-color: rgba(248, 249, 251, 0.8);
  border: 1px solid #ced4e3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 0 5px 0 10px;
}
.scoring-table .scoring-row .rank {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 0 5px 0 10px;
}

.scoring-table .scoring-row .team-name {
  width: calc(100% - 110px);
  height: 100%;
  min-height: 45px;
  border-right: 1px solid #ced4e3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 90%;
}

.scoring-table .scoring-row a {
  text-decoration: none;
  color: inherit;
}

.scoring-table .scoring-row .team-points {
  width: 80px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90%;
}

.scoring-table .scoring-row a.team-name .team-logo {
  height: 35px;
  margin: 5px;
}

.title-row {
  font-size: 16px;
  font-weight: 700;
  background-color: rgba(248, 249, 251, 0.75);
  border-radius: 6px 6px 0 0;
}
.title-row .team-name {
  padding-left: 5px;
}

#last-row {
  border-bottom: none;
}

@media (max-width: 320px) {
  .scoring-table .scoring-row .team-name {
    font-size: 75%;
    width: calc(100% - 95px);
  }
  .scoring-table .scoring-row a.team-name .team-logo {
    height: 30px;
  }
  .scoring-table .scoring-row .team-points {
    font-size: 85%;
    width: 65px;
  }
}
/* Styles for general tournament brackets */
.tourney-div {
  /*background-color: rgba(250,100,100,0.3);*/
  width: 100%;
  display: flex;
  padding: 10px 0 0;
  flex-direction: column;
  justify-content: space-between;
}
.tourney-div .bracket-container {
  display: flex;
  flex-direction: column;
}
.tourney-div .bracket-container .tourney-matchup {
  /*background-color: rgba(248,249,251,0.9);*/
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.tourney-div .bracket-container .tourney-matchup hr {
  height: 0px;
  border: none;
  background-color: #ced4e3;
}
.tourney-div .bracket-container .tourney-matchup .matchup-team {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(5deg, rgba(206, 212, 227, 0), rgba(206, 212, 227, 0.2));
}

.team-seed {
  font-size: 10px;
  width: 20px;
  height: 20px;
  background-color: rgba(239, 239, 246, 0.85);
  border: 1px solid #ced4e3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 0 5px 0 10px;
}

.team-name {
  /*background-color: rgb(206,212,227);*/
  width: calc(100% - 110px);
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 18px;
}

.team-name .team-logo {
  height: 75%;
  max-height: 40px;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 80px;
}

.team-score {
  width: 70px;
  /*background-color: green;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styles for the team-details page */
.team-details {
  display: flex;
  flex-direction: column;
  background-color: rgba(248, 249, 251, 0.75);
  border-radius: 6px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 25, 0.15);
  width: 100%;
  min-height: 710px;
  margin-bottom: 60px;
}
.team-details .team-header {
  background-color: rgba(50, 50, 100, 0.25);
  height: 100px;
  width: 100%;
  border-radius: 6px 6px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.team-details .team-header img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.team-details .team-header .team-info {
  min-width: 220px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.team-details .team-header .team-info .team-subinfo {
  font-size: 80%;
  color: gray;
  display: flex;
  justify-content: flex-start;
}
.team-details .team-roster {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
  /*background-color: green;*/
}
.team-details .team-roster .player-row {
  display: flex;
  height: 90px;
  min-height: 90px;
  margin-top: 10px;
}
.team-details .team-roster .player-row .position {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 45px;
  color: #f8f9fb;
  /*background-color: blue;*/
  border-radius: 14px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.team-details .team-roster .player-row .player-details {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(50, 50, 100, 0.1);
  margin-right: 15px;
  border-radius: 10px;
}
.team-details .team-roster .player-row .player-details .player-img {
  /*min-width: 120px;*/
  height: 90px;
  width: 124.02px;
  /*background-color: yellow;*/
}
.team-details .team-roster .player-row .player-details .player-info {
  font-size: 80%;
}
.team-details .team-roster .player-row .qb-pos {
  background-color: rgba(44, 33, 201, 0.8);
}
.team-details .team-roster .player-row .rb-pos {
  background-color: rgba(33, 201, 111, 0.8);
}
.team-details .team-roster .player-row .wr-pos {
  background-color: rgba(201, 33, 67, 0.8);
}
.team-details .team-roster .player-row .te-pos {
  background-color: rgba(201, 167, 33, 0.8);
}

.seed-edit-form {
  width: 100%;
  font-size: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seed-edit-form .form-row {
  width: 100%;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.seed-edit-form .form-row .team-name {
  width: 80%;
  padding-left: 10px;
}
.seed-edit-form .form-row .seed-input {
  font-size: 16px;
  width: 20%;
  height: 30px;
  padding-left: 10px;
  border: 1px solid #ced4e3;
  border-radius: 6px;
}
.seed-edit-form .site-btn {
  margin-top: 10px;
}

/* styles for the login page */
.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.login-row {
  display: flex;
  flex-direction: column;
}
.login-row span {
  letter-spacing: 2px;
  font-size: 16px;
}
.login-row input {
  width: 100%;
  max-width: 350px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 6px;
  padding-left: 10px;
  border: solid 0.5px rgba(206, 212, 227, 0.8);
  letter-spacing: 1px;
  font-size: 16px;
}

.logout-screen-container {
  height: calc(100% - 60px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styles for general site content */
.page-title {
  color: #0e218b;
  width: 100%;
  text-align: left;
  /*color: rgb(248,249,251);*/
  letter-spacing: 2px;
  /*background-color: seagreen;*/
  font-family: industry-inc-base, sans-serif;
}

.page-subtitle {
  color: #8e91be;
}

.page-title .fa-fire {
  color: #ff8c14;
}

.champs {
  color: #deab54;
}

.consolation {
  color: #0e218b;
}

.championship-game {
  background-color: #deab54;
}

.winners {
  background-color: rgba(78, 114, 255, 0.9);
}

.losers {
  background-color: rgba(201, 74, 94, 0.9);
}

.cons-matchup {
  background-color: rgba(67, 170, 97, 0.9);
}

.final-game {
  background-color: rgba(142, 145, 190, 0.8);
}

.feces-title {
  color: rgba(89, 48, 1, 0.8);
}

.feces-matchup {
  background-color: rgba(89, 48, 1, 0.8);
}

h4 {
  color: #000019;
}

.site-btn {
  color: #f8f9fb;
  background-color: #4e72ff;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  letter-spacing: 2px;
  margin: 0 auto;
}

/*# sourceMappingURL=styles.css.map */
