* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	font-family: poppins, sans-serif;
	color: rgb(0,0,25);
	background-color: rgb(248,249,251);
	/*background: linear-gradient(150deg,rgb(20,110,140), rgb(20,140,110));*/
}


a {
	text-decoration: none;
	color: inherit;
}





/* Styles for top nav (Main site title & user login icon) */

.nav-top {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	background-color: rgba(248,249,251,0.75);
	/*border-bottom: 1px solid rgb(220,220,230);*/
	box-shadow: 0px 2px 10px 0px  rgba(0,0,0,0.15);
}

.nav-top h1 {
	/*padding-left: 15px;*/
	color: rgb(14,33,139);
	width: 200px;
	height: 100%;
	margin-top: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	font-family: industry-inc-base, sans-serif;
}

.nav-top .nav-icon {
	color: #8e91be;
	display: flex;
	flex-direction: row;
	/*justify-content: center;*/
	align-items: center;
	height: 100%;
	/*width: calc(50% - 85px);*/
	/*min-width: 50px;*/
	width: 75px;
	padding-top: 2px;
	/*padding-right: 10px;*/
}

.nav-top .nav-icon i {
	font-size: 23.5px;
	margin-left: 5px;
}

.nav-top .nav-icon span {
	font-size: 12px;
	margin-top: 0px;
}

.nav-left {
	padding-left: 10px;
}

.nav-right {
	padding-right: 10px;
	justify-content: flex-end;
}

/* Styles for bottom nav menu */

.nav-bottom {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: fixed;
	bottom: 0;
	/*background-color:rgba(72,61,139, 0.95);*/
	background-color: rgba(248,249,251,0.75);
	/*border-top: 1px solid rgb(220,220,230);*/
	color: #8e91be;
	box-shadow: 0px -2px 10px 0px  rgba(0,0,0,0.15);
}

.nav-bottom .nav-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 25%;
	padding-top: 2px;
}

.current {
	color: rgb(93,115,239);
}

.nav-bottom .nav-icon i {
	font-size: 23.5px;
}

.nav-bottom .nav-icon span {
	font-size: 10px;
	color: rgb(0,0,25);
	margin-top: 2px;
}


/* Styles for general site content */

.site-content {
	width: 100%;
	height: calc(100% - 130px);
	position: fixed;
	top: 50px;
	padding: 20px 20px 0;
	/*background-color: #2cc36b;*/
}

.page-title {
	height: 30px;
	width: 100%;
	text-align: left;
	/*color: rgb(248,249,251);*/
	letter-spacing: 2px;
	/*background-color: seagreen;*/
	font-family: industry-inc-base, sans-serif;
}

.page-title .fa-fire {
	color: rgb(255,140,0);
}

.champs {
	color: #deab54;
}

.consolation {
	color: #8d92bf;
}




/* Styles for scoring table on home page */

.scoring-table {
	width: 100%;
	height: 95%;
	max-height: 520px;
	background: linear-gradient(to bottom,rgba(255,140,20,0.6), rgba(248,249,251,0.6), rgba(78,114,255,0.6));
	border-radius: 6px;
	/*border: 1px solid rgb(206,212,227);*/
	box-shadow: 0px 2px 10px 0px  rgba(0,0,0,0.15);
}

.scoring-table .scoring-row {
	width: 100%;
	height: calc(100% / 13);
	max-height: 40px;
	/*background-color: gray;*/
	border-bottom: 1px solid rgb(206,212,227);
	display: flex;
	align-items: center;
	padding: 0;
}

.scoring-table .scoring-row .rank {
	width: 30px;
	height: 100%;
	border-right: 1px solid rgb(206,212,227);
	display: flex;
	justify-content: center;
	align-items: center;
}

.scoring-table .scoring-row .team-name {
	width: calc(100% - 110px);
	height: 100%;
	border-right: 1px solid rgb(206,212,227);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.scoring-table .scoring-row .team-points {
	width: 80px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-row {
	font-weight: 700;
	background-color: rgba(248,249,251,0.75);
	border-radius: 6px 6px 0 0;
}

#last-row {
	border-bottom: none;
}


/* Styles for general tournament brackets */

.tourney-div {
	/*background-color: rgba(250,100,100,0.3);*/
	height: calc(100% - 40px);
	width: 100%;
	display: flex;
	padding: 10px 0 0;
	flex-direction: column;
	justify-content: flex-start;
}

.tourney-week {
	width: 100%;
	height: 40px;
	/*color: rgb(248,249,251);*/
	letter-spacing: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: industry-inc-base, sans-serif;
}

.left-arrow, .right-arrow {
	width: 15px;
	text-align: center;
}

.tourney-week i {
	font-size: 25px;
}

.tourney-div .tourney-matchup {
	/*background-color: rgba(248,249,251,0.9);*/
	width: 100%;
	height:20%;
	max-height: 100px;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 0px 2px 5px 0px  rgba(0,0,0,0.3);
}

hr {
	height: 1px;
	border: none;
	background-color: rgb(206,212,227);
}

.matchup-team {
	height: 50%;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.royal-rumble-w .matchup-team {
	height: 100%;
}

.team-seed {
	font-size: 10px;
	width: 20px;
	height: 20px;
	background-color: rgba(239,239,246,0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	margin: 0 5px 0 10px;
}

.team-name {
	/*background-color: rgb(206,212,227);*/
	width: calc(100% - 110px);
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.team-name .team-logo {
	height: 75%;
	max-height: 40px;
	width: auto;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 80px;
}

.team-score {
	width: 70px;
	/*background-color: green;*/
	display: flex;
	justify-content: center;
	align-items: center;
}


.royal-rumble-w {
	width: 100%;
	height:10%;
	max-height: 50px;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 0px 2px 5px 0px  rgba(0,0,0,0.3);
	background-color: #deab54;
	display: flex;
	align-items: center;
}

.royal-rumble-l {
	width: 100%;
	height:30%;
	max-height: 150px;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 0px 2px 5px 0px  rgba(0,0,0,0.3);
	background-color: rgba(201,74,94,0.9);

}

.matchup-team-rumble-l {
	height: 33.3%;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.championship-game {
	background-color: #deab54;
}

.winners {
	background-color: rgba(69,111,240,0.9);
}

.losers {
	background-color: rgba(201,74,94,0.9);
}

.cons-matchup {
	background-color: rgba(97,200,117,0.9);
}

.final-game {
	background-color: rgba(170,170,180,0.8);
}

.feces-title {
	color: rgba(89,48,1,0.8);
}

.feces-matchup {
	background-color: rgba(89,48,1,0.8);
}

h4 {
	color: rgb(0,0,20);
}


/* styles for the login page */

.login-form {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.login-row {
	display: flex;
	flex-direction: column;
}

.login-row span {
	letter-spacing: 2px;
	font-size: 16px;
}

.login-row input {
	width: 100%;
	max-width: 350px;
	height: 40px;
	margin-bottom: 20px;
	border-radius: 6px;
	padding-left: 10px;
	border: solid 0.5px rgba(170,170,180,0.8);
	letter-spacing: 1px;
	font-size: 16px;
}

.submit-btn {
	color: white;
	background-color: rgb(44,33,201);
	width: 150px;
	height: 40px;
	border: none;
	border-radius: 8px;
	font-size: 15px;
	letter-spacing: 2px;
	margin: 0 auto;
}
